{% extends 'layout.html' %}
{% block title %}
    Мой курс
{%endblock%}
{% block content %}
<ul>
<script>
    document.body.ID = '{{id}}'
</script>
{% for i in contents %}

     <li class="beads"> {{i['name']}}</li>
         <ul>
         {% for j in i['modules'] %}
            {% if j['modname'] == 'resource' and j['contents'][0]['mimetype'] == 'application/pdf' %}
                <script src="/static/js/GoToPDF.js"></script>
                 <li class="beads">
                  <a class="URL" id="{{j['id']}}" url = "{{j['contents'][0]['fileurl']}}" href="#" onclick="gotopdf({{j['id']}})"> {{j['name']}}</a>
                 </li>
             {% endif %}
        {% endfor %}
         </ul>
     </li>
    </br>
    {% endfor %}
</ul>


{%endblock%}
