{% extends 'layout.html' %}
{% block title %}
    Мой курс
{%endblock%}
{% block content %}
<ul>
{% for i in contents %}
     <li class="beads"> {{i['name']}}</li>
         <ul>
         {% for j in i['modules'] %}
            {% if j['modname'] == 'resource' and j['contents'][0]['mimetype'] == 'application/pdf' %}
                 <li class="beads"><form action="/pdf" method="post">
                  <input type="hidden" name="link" value="{{j['contents'][0]['fileurl']}}"></form>
                  <a href="#" onclick="document.forms[0].submit();return false;">{{j['name']}}</a>
                 </li>
             {% endif %}
        {% endfor %}
         </ul>
     </li>
    </br>
    {% endfor %}
</ul>

{%endblock%}
